 * {
            padding: 0;
            margin: 0;
          
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        .main-container{
            max-width: 1200px;
            margin: 0 auto;
        }

         


    .top-bar-container{
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(to right, #582C9E, #D60024);
            padding: 15px;
            gap: 8px;
        }

        img{
            width: 12%;
        }
             
      .texte {
        color: white;
      }


        .hero-sec {
            background-size: cover;
            background-position: center;
            background-image: linear-gradient(to bottom,
                    rgba(0, 0, 0, 0.684),
                    rgba(0, 0, 0, 0.688),
                    rgba(0, 0, 0, 0.95)), url(images/netpic.jpg );
        }

       
        header {
            position: sticky;
            top: 0;
            z-index: 10;

        }

        .logo-btn {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px;
           
        }


        .sign_in button {

            color: white;
            background-color: #ef2121;
            border: none;
            padding: 8px 20px;
            border-radius: 5px;
        }

        .sign_in button:hover {
            background-color: #b20710;
        }

        .center-content {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;
            color: white;
            margin-top: 150px;
            box-sizing: border-box;
        }

        .main-heading {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            row-gap: 24px;
        }

        .main-heading h1 {

            font-size: 50px;
            font-weight: 800;
            width: 100%;
            max-width: 60%;
        }

        .form {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin: 20px 0px;
        }


        .form input {
            color: white;
            background-color: transparent;
            border: 2px solid grey;
            padding: 10px;
        }

        .form button {
            background-color: red;
            color: white;
            font-weight: 800;
            font-size: 18px;
            padding: 0px 60px;
            border-color: red;
            border-radius: 5px;
        }




        .Ready {
            color: white;
        }


        input::placeholder {
            color: #ffffff5e;
            text-align: left;
            font-size: medium;
        }

        .center-content .new-members p {
            color: grey;
        }

        .h {
            color: grey;
            font-weight: 600;
        }

        .form button:hover {
            background-color: #b20710;
        }

        .symbol {
            font-weight: 400;
            font-size: larger;
        }

        .input-email {
          height: 35px;
          width: 260px;
        }



        /*  More Reasons to Join  */

        /* this is section */

        .reasons {
            font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
            background-color: black;
             padding: 60px 0px;
        }

        .card {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 20px;
        }

        .reasons h2 {
            color: #ffff;
            font-weight: 600;
        }



        .card1 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-family: sans-serif;
            color: #ffff;
            background: linear-gradient(to bottom, rgb(1 1 32), rgb(67 7 67));
            line-height: 1.4;
            padding: 20px 20px;
            border-radius: 10px;    
        }

        .monitor{
            text-align: end;
        }


         .card1 p {
                color: rgba(255, 255, 255, 0.7);
                word-spacing: 1.4;
                letter-spacing: 1px;
            }

        .card1 h3 {
                font-weight: 600;
                font-size: 20px;
            }
        .card1-cont {
                display: flex;
                flex-direction: column;
                gap: 15px;
            }

            .Plans {
                font-weight: 700;
                font-size: large;
            }



            /*  TRENDING NOW */

            
            /* this is  section  */

             .trending-now{
                background-color: black;    
            }


            .trending-now h2{
                color: white;
              
            }

           .trending-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: white;
            background-color: black;
            padding: 30px 0px;
           }

       
            .num {
                position: absolute;
                color: #000000;
                font-size: 100px;
                font-weight: 800;
                text-shadow: 20px 5px 25px black;
                -webkit-text-stroke: 2px rgb(182, 176, 176);
                bottom: 10px;
                left: -8px;
             
            }

            .pic1{
                position: relative;
                
              
            }

            .img1 {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            border-radius: 10px;
            }
            
            .pic1:hover{
               transform: scale(1.03);
            }




/* 
            .frequently{
                padding: 0px 148px;
            }

            h3::after{
                content: "+" ;
                margin-left: 200px;
            }

            .non{
                display: flex;
                justify-content: space-around;
            } */

        

            /*  this is footer section  */

        footer {
            display: flex;
            flex-direction: column;
            row-gap: 36px;
            background-color: black;
            font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
        }

   


        .footer-first {
            color: white;
            text-align: center;
            padding: 20px;
        }

        .button-footer {
            display: flex;
            justify-content: center;
            text-align: center;
            gap: 10px;
        }

        .button-footer input {
            color: white;
            background-color: black;
            border: 1px solid grey;
            height: 56px;
            width: 482px;
            padding-left: 10px;
        }

 

        .button-footer button {

            background-color: red;
            color: white;
            font-weight: 800;
            font-size: 18px;
            padding: 0px 60px;
            border-color: red;
            border-radius: 5px;

        }

        .button-footer button:hover {
            background-color: #b20710;
        }

        nav {
            display: flex;
            gap: 200px;
            padding: 40px 0px;
        }


        nav ul {
            display: flex;
            flex-direction: column;
            gap: 20px;
            font-family: sans-serif;
            font-size: small;
            list-style-type: none;
        }

        .drop-down {
            display: block;
            text-align: left;
        }

        .lan {
            font-size: large;
            border: 1px solid grey;
            color: white;
            background-color: black;
            padding: 6px 34px 6px 36px;
        }


        nav ul li a {
            color: rgb(181, 181, 181);

        }

        .Questions a {
            color: rgba(255, 255, 255, 0.7);
        }

        

        .para {
            color: rgba(255, 255, 255, 0.7);
            padding: 20px 0px;
        }

        .scnd-last {
            font-size: smaller;
            color: rgba(255, 255, 255, 0.7);
            padding: 40px 0px 20px 0px;
        }

        .last-para {
            font-size: small;
            color: rgba(255, 255, 255, 0.5);
            padding: 30px 0px 80px 0px;
        }

        input::placeholder {
            color: rgb(181, 178, 178);
            font-weight: 400;
        }

        .sign-greater {
            font-weight: 100;
        }
